.bg-Arrow{
    width: 33px; height: 34px;
    background: url('../img/css_sprites_instruction.png') -69px -36px;
    
    border-bottom: #ffffff solid 3px;
    padding-bottom: 7px;
}
.bg-Line {
    width: 39px; height: 3px;
    background: url('../img/css_sprites_instruction.png') -11px -11px;
}
.bg-Van {
    width: 58px; height: 40px;
    background: url('../img/css_sprites_instruction.png') -252px -227px;
}
.bg-Pointer {
    width: 39px; height: 45px;
    background: url('../img/css_sprites_instruction.png') -122px -92px;
}
.bg-Writing {
    width: 47px; height: 46px;
    background: url('../img/css_sprites_instruction.png') -183px -159px;
}